/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #93c497;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

#index-banner {
  min-height: 500px;
  padding-top: 0;
}

.parallax img {
  width: 100%;
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;

  }

}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

/*
.icon-block .material-icons {
  font-size: inherit;
}
*/

footer.page-footer {
  margin: 0;
}


/* Image transition */
.bwPhoto {
  /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
  filter: gray;
  /* IE5+ */
  -webkit-filter: grayscale(1);
  /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all .8s ease-in-out;
}

.bwPhoto:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

/* Download button*/
.btn {
  background-color: #6e9371;
  border: none;
  color: white;
  padding: 12px 25px 45px 25px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #93c497;
}

.btn:visited {
	background-color: #44854a;
}

.btn:focus {
	background-color: #336137;
}

.breakitup {
  line-height: 300%;
}

.break {
  line-height: 100%;
}

/* Social Icons */


.fa-linkedin:hover {
  opacity: 0.7;
}

.fa-github:hover {
  opacity: 0.7;
}

.fa-envelope:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #6e9371;
  color: white;
  padding: 13px 15px 13px 15px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px;
  border-radius: 50%;
}

.fa-github {
  background: #6e9371;
  color: white;
  padding: 13px 15px 13px 15px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px;
  border-radius: 50%;
}

.fa-envelope {
  background: #6e9371;
  color: white;
  padding: 13px 13px 13px 13px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px;
  border-radius: 50%;
}

/* Rotating words */

/*Sentence*/
.sentence{
     color: #222;
     font-size: 30px;
     text-align: left;
}
/*Wrapper*/
.wrapper{
    background-color: #f5f5f5;
    font-family: 'Raleway', sans-serif;
    margin: 100px auto;
    padding: 40px 40px;
    position: relative;
    width: 70%;
}

/*Vertical Sliding*/
.slidingVertical{
	display: inline;
	text-indent: 8px;
}
.slidingVertical span{
	animation: topToBottom 17.5s linear infinite 0s;
	-ms-animation: topToBottom 17.5s linear infinite 0s;
	-webkit-animation: topToBottom 17.5s linear infinite 0s;
	color: #93c497;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.slidingVertical span:nth-child(2){
	animation-delay: 3.5s;
	-ms-animation-delay: 3.5s;
	-webkit-animation-delay: 3.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 7s;
	-ms-animation-delay: 7s;
	-webkit-animation-delay: 7s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 10.5s;
	-ms-animation-delay: 10.5s;
	-webkit-animation-delay: 10.5s;
}
.slidingVertical span:nth-child(5){
	animation-delay: 14s;
	-ms-animation-delay: 14s;
	-webkit-animation-delay: 14s;
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}



/*FadeIn*/
.fadeIn{
	display: inline;
	text-indent: 8px;
}
.fadeIn span{
	animation: fadeEffect 12.5s linear infinite 0s;
	-ms-animation: fadeEffect 12.5s linear infinite 0s;
	-webkit-animation: fadeEffect 12.5s linear infinite 0s;
	color: #00abe9;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.fadeIn span:nth-child(2){
	animation-delay: 3.5s;
	-ms-animation-delay: 3.5s;
	-webkit-animation-delay: 3.5s;
}
.fadeIn span:nth-child(3){
	animation-delay: 7s;
	-ms-animation-delay: 7s;
	-webkit-animation-delay: 7s;
}
.fadeIn span:nth-child(4){
	animation-delay: 10.5s;
	-ms-animation-delay: 10.5s;
	-webkit-animation-delay: 10.5s;
}
.fadeIn span:nth-child(5){
	animation-delay: 14s;
	-ms-animation-delay: 14s;
	-webkit-animation-delay: 14s;
}

/*FadeIn Animation*/
@-moz-keyframes fadeEffect{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(0px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes fadeEffect{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(0px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes fadeEffect{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(0px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}





